.marginCenter {
    margin : 0 auto;
}
.body {
    margin: 0 auto;
    width: 1400px;
}
.clear {
    clear:both;
}
.mainPage {
    margin: 150px auto;
    text-align: center;
}
.mainPage span {
    font-weight: bold;
}



* a:link, * a:focus, * a:active, * a:hover {
    color: black;
    background: none;
    text-decoration: none;
}
* button:focus, * button:active, * button:hover {
    background: none;
    outline: none;
}
* input:focus, * input:active, * input:hover {
    background: none;
    outline: none;
}
* select:focus, * select:active, * select:hover {
    background: none;
    outline: none;
}