* a:link, * a:focus, * a:active, * a:hover {
    color: black;
    background: none;
    text-decoration: none;
}
* button:focus, * button:active, * button:hover {
    outline: none;
}
* input:focus, * input:active, * input:hover {
    outline: none;
}
* select:focus, * select:active, * select:hover {
    outline: none;
}

.marginCenter {
    margin : 0 auto;
}
.body {
    margin: 0 auto;
    width: 1400px;
}
.clear {
    clear:both;
}




.mainPage {
    margin-bottom: 130px;
    text-align: center;
}
.mainPage a {
    color: black;
}
.mainPageList {
    float: right;
    width: 500px;
    margin-right:100px;
    padding: 30px 50px;
    border: 1px solid #A200C7;
}
.mainPageText {
    float: left;
    width: 650px;
    padding: 50px 40px;
    border: 1px solid #A200C7;
}
.mainPageText a {
    color: #A200C7;
    font-weight: bold;
    font-size: 20px;
}
.mainPageText b {
    font-size: 18px;
    padding-top:3px;
    position: relative;
}