.ct_page {
    margin: 10px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.ct_page li {
    width: 260px;
    height: 160px;
    margin: 10px;
    list-style: none;
    text-align: center;
}
.ct_page a {
    width: 260px;
    height:160px;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.ct_page img {
    margin: auto;
    width: 100px;
    height: 100px;
}
.ct_page a:hover {
    border: 2px solid #A200C7;
    padding: 11px;
    background-color: white;
}
.ct_pageText {
    color: #9c9c9c;
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
}


/* 카테고리 리스트 */
.ct_cate {
    width: 200px;
    float: left;
}
.ct_cate ul {
    padding: 0;
    text-align: center;
}
.ct_cate_title {
    color: #393939;
    margin-top: 15px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.ct_cate_list {
    list-style: none;
}
.ct_cate_list button {
    cursor: pointer;
    width: 190px;
    margin: 5px 0;
    border: none;
    background: none;
    text-align: left;
}

.ct_lead {
    font-weight: bold;
}
.ct_cate_text {
    color: #a0a0a0;
    font-size: 15px;
}
.ct_lead img{
    float: right;
    width: 8px;
    height: 8px;
    position: relative;
    top: 6px;

    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}
.ct_imgflip {
    transform: rotate(-180deg);
}
.ct_sub {
    display: none;
}
.ct_subbtn {
    padding-left: 20px;
}
.ct_cate_text:hover {
    color:#A200C7;
    font-weight: bold;
}


.ct_list {
    float: right;
    padding-left: 15px;
    border-left: 1px solid #d0d0d0;

    width: 1190px;
}