


/* 고양이 등록*/
.ap_form {
    background: none;
    border: none;
    width: 450px;
    margin: 50px auto;
}
.ap_pic {
    text-align: center;
}
.ap_picInput[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.ap_text {
    margin-bottom: -10px;
}
.ap_input {
    width: 450px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    padding-left: 15px;
}
.ap_detail{
    float: left;
}
.ap_birthInput {
    /*clear: both;*/
    background: #f3f3f3;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    text-align: center;
    clear: both;
    width: 150px;
    height: 50px;
    margin-right: 10px;
}
.ap_genderInput input{
    margin-left: 10px;
}
.ap_check {
    text-align: center;
    margin : 20px 0;
    color : grey;
}

.ap_btn {
    text-align: center;
    margin: 10px 20px 60px 0;
}
.ap_btn button {
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 20px;
    padding: 5px 10px;
}
.ap_okbtn {
    background: #6060ff;
}
.ap_nobtn {
    background: #ff6060;
}
.ap_btn button:hover {
    color: black;
}
.ap_btn button:focus {
    color: black;
}


/* 네비게이션 바 */
.my_nav {
    height: 150px;
    border-radius: 7px;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
    padding: 30px 40px;
}
.my_nav img{
    height: 90px;
    width: 90px;
    float: left;
}
.my_navInfo{
    float: left;
    height: 90px;
    padding: 20px 15px;
}
.my_navName {
    font-size: 18px;
    font-weight: bold;
}
.my_navID {
    font-size: 14px;
    color: #a0a0a0;
}
.my_navBtn {
    padding: 16px;
    margin: 0 130px;
    border: none;
    background: none;
}
.my_navBtn b {
    font-size: 14px;
}
.my_navBtn i {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: -3px;
}
.my_navNum {
    color: #A200C7;
    font-size: 25px;
    font-weight: bold;
}


/* 사이드 바 */
.my_side {
    float: left;
    width: 182px;
    height: 550px;
    margin-bottom: 100px;

    /*border: 1px solid red;*/
}
.my_side p {
    margin-top: 30px;
    font-weight: bold;
}
.my_side1 {
    width:180px;
    height: 101px;
    border-radius: 7px;
    border: 1px solid #e0e0e0;
}
.my_sideText {
    float:left;
    margin-left: 15px;
    font-size: 13px;
    padding: 15px 0;
    font-weight: bold;

}
.my_sideNum {
    float:right;
    margin-right: 15px;
    font-size: 23px;
    padding: 7px 0;
    margin-top:-1px;
    font-weight: 500;
}
.my_side1Divider {
    height: 1px;
    width: 178px;
    background: #e0e0e0;
    clear: both;
}
.my_sideSub p {
    color: #a0a0a0;
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
}
.my_sideSub p:hover{
    color:#A200C7;
}


/* 마이페이지 기본 설정 */
.my_body {
    float: right;
    width: 1150px;
    margin-bottom: 100px;
}
.my_title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
}
.my_subTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}
.my_Text {

}


/* 마이페이지 내정보 */
.if_title {
    width: 110px;
    color: #a0a0a0;
}
.if_text {
    font-weight: bold;
    margin-left: 10px;
}
.if_body button {
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    background: none;
    margin-left: 10px;
    color: #a0a0a0;
}
.if_btns {
    margin: 25px 0;
}


/* 마이페이지 내 고양이 */
.cat_listBtn {
    width: 250px;
    height: 130px;
    margin: 15px;
    background: #f0f0f0;
    border: none;
}
.cat_name {
    font-weight: bold;
}
.cat_info {
    color: #a0a0a0;
    font-size: 14px;
}
.cat_badge {
    background: #A200C7;
    padding: 7px;
    position: relative;
    top: -2px;
}
.cat_newBtn {
    position: relative;
    top: 15px;
    width: 250px;
    height: 130px;
    margin: 20px;
    background: none;
    border: 1px solid #a208c7;
    color: #A200C7;
}
.cat_newBtn i {
    font-size: 30px;
}
.cat_listBtn:hover {
    border: 1px solid #A200C7;
    color: #A200C7;
}














/*///////////////////////*/
.MY_roundbox {
    border-radius: 7px;
    border: 1px solid #e0e0e0;
}

.MY_noborder {
    outline: none;
    box-shadow: none;
}

.MY_noborder:hover {
    outline: none;
    box-shadow: none;
}

.MY_noborder:focus {
    outline: none;
    box-shadow: none;
}


.MY_hdmenu {
    float: right;
    padding: 20px 0 0 0;
    margin: 0 0 0 -20px;
    position: relative;
}


.MY_maincont {
    float: right;
    min-height: 550px;
    padding: 15px 0 0 30px
}


/* 헤더 버튼들 */

.MY_hmbtn {
    padding: 0;
    text-align: left;
    border: none;
    outline: none;
    background: none;
}

.MY_hmbtn:focus {
    border: none;
    outline: none;
}

.MY_hmbtn:active {
    border: none;
    outline: none;
}

.MY_hmbtntxt {
    width: 78px;
    height: 32px;
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    line-height: 110%;
}


/* 마이페이지 메인 */

.MY_ordlstNON {
    background: #dee2e6;
    padding:15%;
    text-align:center;
    position:relative;
    color: #95999c;
}


.MY_conttitle {
    font-weight: bold;
    margin: 0 0 30px 0;
    padding: 0;
}


/* 사이드바 */

.MY_mainsidebr {
    float: left;
    min-height: 550px;
    padding: 15px 0 0 0;
}


.MY_chevron {
    font-size: 14px;
    font-weight: bolder;
    float: right;
}

.MY_here {
    color: #a200c7;
    font-weight: bold;
    text-decoration: none;
}

.MY_nothere {
    color: #adb5bd;
}

.MY_li {
    text-align: left;
    list-style: none;
    color: #adb5bd;
    padding: 15px 0 15px 0;
}

.MY_li :hover, .MY_li :focus {
    color: #a200c7;
    font-weight: bold;
    text-decoration: none;
}

.MY_li :active {
    color: #a200c7;
    font-weight: bold;
    text-decoration: none;
}


/* 구매후기 */

.MY_reviewbox {
    text-align: left;
    list-style: none;
    padding: 15px 0 15px 0;
}

.MY_revfnt {
    color: black;
    padding: 0 5px 0 10px;
}

.MY_revfnt:focus, .MY_revfnt:hover {
    color: black;
    text-decoration: none;
}


.MY_revcnt {
    font-size: 16px;
    color: #a200c7;
    font-weight: bolder;
    float: right;
    padding-right: 10px;
}


/*고객센터*/

.MY_csboxtxt {
    padding: 20%;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 18px;
}

.MY_cssrch {
    height: fit-content;
    border-radius: 7px;
    background: #adb5bd;
}

.MY_cssrchbtn {
    background: #6c757d;
    color: white;
}

.MY_cssrchbtn:hover, .MY_cssrchbtn:focus {
    background: #6c757d;
    color: white;
}


.MY_csslctbtn {
    background: none;
    border: 1px solid #adb5bd;
    border-radius: 7px;
    margin-left: 5px;
}

.MY_csslctbtn:hover, .MY_csslctbtn:focus, .MY_csslctbtn:active {
    border: 1px solid #a200c7;
    outline: none;
    box-shadow: none;
    background: #a200c7;
}
.MY_pdupdw10{
    padding: 10px 0 10px 0;
}

.MY_pdrglf10 {
    padding: 0 10px 0 10px;
}


/*회원정보수정*/

.MY_usrupdbtn {
    border: 1px solid #a200c7;
    border-radius: 7px;
    background: #a200c7;
    color: white;
}

.MY_usrupdbtn:focus, .MY_usrupdbtn:hover {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}