.BA_body {
    background: white;
    border : 1px solid #e8e8e8;
    margin-bottom: 80px;
}


/* 제품이 없을 때 */
.BA_noitem {
    text-align: center;
}
.BA_noitem i{
    font-size: 60px;
}
.BA_noitem p {
    margin: 10px 0 30px 0;
    font-size: 13px;
    color: #95999c;
    font-weight: bold
}
.BA_noitem button {
    color: #A200C7;
    border-color: #A200C7;
    background-color: white;
    width: 260px;
    height: 53px;
    font-weight: bold;
    margin-bottom: 40px;
}



/* 제품이 있을 때*/
.BA_list {
    margin: 30px 100px;
}
.BA_list p {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9a9a9a;
}

.BA_item {
    height : 150px;
    padding: 20px 0;
    border-bottom: 1px solid #c6c6c6;
}

.BA_list1 {
    float: left;
    margin-left: 20px;
}
.BA_img {
    width: 110px;
    height: 110px;
}
.BA_list2 {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 15px;
    width: 400px;
}
.BA_list3 {
    width: 200px;
    height: 110px;
    float: left;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    padding-left : 30px;

}
.BA_list3 button {
    text-align: center;
    margin-top: 30px;
    border : 1px solid #c6c6c6;
    width: 42px;
    height: 42px;
}
.BA_list4 {
    float: left;
    width : 250px;
    height : 110px;
    padding-top: 26px;
    padding-left: 5px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
    /*justify-content: center;*/
}
.BA_disco {
    font-size: 14px;
    color : #a0a0a0;
}
.BA_totprice {
    font-size: 20px;
    font-weight: bold;
}
.BA_list5 {
    float: left;
    width: 150px;
    height: 110px;
    padding-left: 25px;
    padding-top: 15px;
    text-align: center;
}
.BA_list5 button {
    width : 130px;
    height : 25px;
    margin-top : 10px;
    border: 0 none;
    border-radius: 5px;
    font-size: 14px;
}
.BA_list5_btn1 {
    background: #f3f3f3;
    color: #7f7f7f;
}
.BA_list5_btn2 {
    background: #f0e3f3;
    color: #A200C7;
}
.BA_total {
    margin-top: 50px;
    height: 100px;
    border-top : 3px solid #A200C7;
    padding : 30px 100px;
}
.BA_totalsub {
    float: left;
    width : 170px;
    border-right: 1px solid #c6c6c6;
    margin-right: 20px;
}
.BA_subtitle {
    font-size: 14px;
    color : #727272;
}
.BA_subtext {
    font-size: 20px;
    font-weight: bold;
}
.BA_totalprice {
    float: left;
    font-size: 25px;
    font-weight: bold;
    width: 430px;
    border-right: 1px solid #c6c6c6;
    margin-right: 20px;
    text-align: right;
    padding-right: 20px;
}
.BA_button {
    float: left;
    width : 140px;
    height : 40px;
    margin-top : 0px;
    border: 0 none;
    background: #A200C7;
    color: white;
    border-radius: 5px;
}

















/*////////////////////////////////////////////////*/

.VI_main {
    border: 1px solid #f4f4f4;
}

.VI_img {
    width: 700px;
    height: 700px;
    border: none;
    float: left;
}
.VI_imgs img {
    /*text-align: center;*/
    margin: 0 auto;
}
.VI_info {
    padding: 40px;
    width: 600px;
    height: 700px;
    float: left;
}
.VI_pname {
    font-size: 25px;
    font-weight: bold;
}
.VI_star {
    margin-left: 0px;
    margin-bottom: 30px;
}
.VI_price {
    height : 50px;
    width: 600px;
    vertical-align: center;
}
.VI_price1 {
    float: left;
}
.VI_price2 {
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.VI_setInfo {
    width: 600px;
    border: 1px solid #dbdbdb;
    border-right: none;
    border-left: none;
    margin : 10px 0;
}
.VI_setInfo img {
    margin: 5px 20px;
}
.VI_setInfo2 {
    margin : 20px 0;
    font-size: 14px;
    color: #8d8d8d;
}
.VI_setInfo2 li {
    margin-left: -20px;
}
.VI_setInfo2 b {
    color : black;
}
.VI_count {
    width : 600px;
    background: #F4F4F4;
    padding: 20px;
    margin-top : 100px;
    margin-bottom: 20px;
}
.VI_count1 {
    float:left;
}
.VI_count2 {
    float: right;
}
.VI_count3 {
    margin-top: 15px;
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.VI_count button {
    margin-top: 15px;
    border: 1px solid #b1b1b1;
    background: white;
    width: 50px;
    height: 50px;
    outline: none;
    font-size: 20px;
}
.VI_button {
    width : 600px;
}
.VI_button button {
    width : 295px;
    height : 50px;
    font-weight: bold;
    border-radius: 5px;
}
.VI_button1 {
    border: 1px solid #A200C7;
    background: none;
    color : #A200C7;
}
.VI_button2 {
    margin-left: 5px;
    border: none;
    background: #A200C7;
    color : white;
}
.VI_detail {
    margin : 20px 0 50px 0;
}

.VI_detail2 {
    padding: 20px;
}

.VI_detail h4 {
    font-weight: bold;
}
.VI_detail h6 {
    font-weight: bold;
    margin-bottom: 15px;
}
.VI_detail p {
    font-size: 14px;
    margin-bottom: 70px;
}
.VI_detail li {
    font-size: 14px;
    margin-left: -20px;
}
.VI_contents {
    width: 1300px;
    text-align: center;
    margin-bottom: 70px;
}
.VI_contents h4 {
    text-align: left;
    font-weight: bold;
    margin-top: 50px;
}

.basket_h2 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.basket_order {
    bottom: 32px;
    margin-bottom: -20px;
    margin: 20px auto;
    text-align: right;
    padding-top: 0px;
}

.basket_order_span1 {
    font-weight: bold;
    font-size: 16px;
    color: #A200C7;
}

.basket_order_span2 {

    font-weight: bold;
    font-size: 16px;
    color: #95999c
}


.basket_icon{
    font-size: 60px;
}