<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mypage">

    <select id="speciesList" statementType="PREPARED"
            resultType="teamproject.mvc.vo.CatSpeciesVO">
        select catkind from Catspecies;
    </select>

    <insert id="newCat" statementType="PREPARED"
            parameterType="teamproject.mvc.vo.CatVO">
        insert into Cat (catname, uno, catkind, catyear, catmonth, catgender, catweight, prima)
            values (#{catname},#{uno},#{catkind},#{catyear},#{catmonth},#{catgender},#{catweight},#{prima});
    </insert>

    <select id="catList" statementType="PREPARED"
            parameterType="String"
            resultType="teamproject.mvc.vo.CatVO">
        select * from Cat
            where uno = ${uno};
    </select>

    <select id="readOneCat" statementType="PREPARED"
            parameterType="teamproject.mvc.vo.CatVO"
            resultType="String">
        select catno from Cat
            where uno = ${uno} and catname = ${catname};
    </select>

</mapper>