.hd_lists {
    width: 1400px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 0;
}

/* 고양이 대통령 로고 */
.hd_list1 {
    float: left;
    width: 190px;
    height: 60px;
    padding-top: 5px;
    text-align: center;
    margin-right: 20px;
}


/* 알림 / 마이페이지 / 장바구니 */
.hd_list2 {
    float: right;
    width: 300px;
    height: 60px;
    text-align: center;
}
.hd_list2 button {
    width: 60px;
    height: 60px;
    margin: -12px 10px 0 10px;
    font-size: 35px;
    outline: none;
    background: none;
    border: none;
}
.hd_list2_txt {
    width: 50px;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
    display: block;
}
.hd_list2 {
    text-align: center;
}
.hd_list2 a:hover {
    color: #A200C7;
    text-decoration: none;
}


/* 검색창 */
.hd_list3 {
    float: left;
    max-width: 580px;
    height: 55px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #A200C7;
}
.hd_list3 input {
    height: 50px;
    padding-left: 15px;
    border: none;
    background: none;
}
.hd_list3 button {
    width: 55px;
    font-size: 20px;
    background: #A200C7;
    color: white;
}


/* 알림메시지 */
.hd_list4 {
    float : right;
    margin-top: 15px;
    text-align: center;
}
.hd_list4 button {
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid #adadad;
    width: 355px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    color: #a0a0a0;
}
.hd_list4 img {
    width: 20px; height: 20px; margin-bottom: 3px;
}
.hd_list4 span {
    color:#3B9F00;
}


/* 헤더 카테고리 */
.hd_list5 {
    float: left;
    margin: 20px 0 10px;
    /*border: 1px solid black;*/
}
.hdNcategory {
    float: left;
}
.hdNcategory a {
    color: black;
    text-decoration: none;
}
.hdNcategory a:focus {
    outline: none;
}
.hdNcategory i {
    font-size: 25px;
    position: relative;
    top: -2px;
}
.hdNcategory span {
    font-size: 20px;
    font-weight: bold;
    /*border: none;*/
    /*background: none;*/
}
.hdNcategory:hover .hdNcatelist {
    display: block;
    margin-top: 0;
}
.hdNcatelist a{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
.hdNcatelist a:hover{
    color: #a200c7;
    font-weight: bold;
}


/* 제품 리스트 목록 */
.hd_pdlist ul {
    list-style: none;
    float: left;
    margin-left:25px;
    border-bottom: none;
    background: none;
    /*width: 70%;*/
    /*clear: both;*/
}
.hd_list5 li {
    float: left;
    margin-left: 5px;
}
.hd_list5 a:hover {
    border: none;
}
.hd_list5 a:active {
    border: none;
}
.hd_pdlist span {
    font-size: 18px;
    color: #636161;
    font-weight: bold;
}