.hd_lists {
    width: 1400px;
    margin: 50px auto 0 auto;
    padding: 0;
}


/* 고양이 대통령 로고 */
.hd_list1 {
    float: left;
    width: 190px;
    height: 60px;
    padding-top: 5px;
    text-align: center;
    margin-right: 20px;
}


/* 알림 / 마이페이지 / 장바구니 */
.hdDropDown:hover .hdDropMenu {
    display: block;
    margin-top: 28px;
}
.hdDropMenu {
    margin-left: -35px;
}
.hd_list2 {
    float: right;
    width: 300px;
    height: 60px;
    text-align: center;
}
.hd_list2 button {
    width: 60px;
    height: 60px;
    margin: -12px 10px 0 10px;
    font-size: 35px;
    outline: none;
    background: none;
    border: none;
}
.hd_list2Text {
    width: 50px;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
    display: block;
}
.hd_list2 {
    text-align: center;
}
.hd_list2 a:hover {
    color: #A200C7;
    text-decoration: none;
}


/* 검색창 */
.hd_list3 {
    float: left;
    max-width: 580px;
    height: 55px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #A200C7;
}
.hd_list3 input {
    height: 50px;
    padding-left: 15px;
    border: none;
    background: none;
}
.hd_list3 button {
    width: 55px;
    font-size: 20px;
    background: #A200C7;
    color: white;
}


/* 알림메시지 */
.hd_list4 {
    float : right;
    margin-top: 18px;
    text-align: center;
}
.hd_list4 button {
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid #adadad;
    width: 355px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    color: #a0a0a0;
}
.hd_list4 img {
    width: 20px; height: 20px; margin-bottom: 3px;
}
.hd_list4 span {
    color:#3B9F00;
}


/* 헤더 카테고리 */
.hd_list5 {
    float: left;
    margin: 20px 0 10px;
    /*border: 1px solid black;*/
}
.hd_category {
    float: left;
}
.hd_category a {
    color: black;
    text-decoration: none;
}
.hd_category a:focus {
    outline: none;
}
.hd_category i {
    font-size: 25px;
    position: relative;
    top: -2px;
}
.hd_category span {
    font-size: 20px;
    font-weight: bold;
}
.ctDropDown:hover .ctDropMenu {
    display: block;
    margin-top: 0px;
}
.hd_catelist a{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
.hd_catelist a:hover{
    color: #a200c7;
    font-weight: bold;
}


/* 제품 리스트 목록 */
.hd_pdlist ul {
    list-style: none;
    float: left;
    margin-left:25px;
    border-bottom: none;
    background: none;
}
.hd_list5 li {
    float: left;
    margin-left: 5px;
}
.hd_list5 a:hover {
    border: none;
}
.hd_list5 a:active {
    border: none;
}
.hd_pdlist a:hover {  /* 마우스를 갖다댔을때 움직이지 않게 */
    padding-left: 17px;
    padding-top:9px;
    padding-right: 17px;
}
.hd_pdlist a {
    font-size: 18px;
    color: #636161;
    font-weight: bold;
}


/* 모든 페이지의 header 부분 */
.page_header {
    background-color: #f4f4f5;
    clear: both;
}
.page_nav {
    padding: 10px 0;
    width: 1400px;
    margin: 0 auto;
}
.page_nav span {
    color: #717171;
    font-size: 12px;
}
.page_nav_bi {
    position: relative;
    top: -2px;
}
.page_title {
    width: 1400px;
    margin: 20px auto;
}
.page_title span {
    font-weight: bold;
    font-size: 23px;
}